{% extends 'tasks/base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<div class="row">
    <div class="col-8 col-sm-6 mx-auto">
        <div class="card card-body">
            <div class="form-group">
                <form method="POST" action="/" autocomplete="off">
                    {% csrf_token %}
                        {{form.title}}

                        <input type="submit" value="Add Item" class="form-control btn btn-dark mt-2" >
                </form>
            </div>
                <ul class="list-group">
                    {% for todo in todos%}
                        <li class="list-group-item list-group-item-dark mb-2">
                            {% if todo.completed == True %}
                                <strike>{{todo}}</strike>
                            {% else %}
                                <span>{{todo}}</span>
                            {% endif %} 
                                <a class="btn btn-sm btn-outline-dark float-right mx-1" href="{% url 'update' todo.id %}">
                                Update</a>
                                <a class="btn btn-sm btn-outline-dark float-right mx-1" href="{% url 'delete' todo.id %}">
                                Delete</a>
                        </li>
                    {% endfor%}
                </ul>                 
        </div>
    </div>
</div>
    
{% endblock content %}

