{% extends 'tasks/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-5">
    <div class="col-8 col-sm-8 mx-auto">
            <div class="card card-body">
                <p class=""> <strong class="mt-0">Log In</strong></p>
                <form method="POST" action="" autocomplete="off">
                    {% csrf_token %}
                    {{ form|crispy }}
                        <input type="submit" value="Sign In" class="btn-sm btn btn-outline-info font-weight-bold mt-2">
                </form>
                <div>
                    <small class="text-muted">Don't Have An Acount?
                    <a href="{% url 'register' %}" class="font-weight-bold">Sign Up</a></small> 
                </div>
            </div>   
    </div>
    
</div>


{% endblock content %}
